src/main/resources/configuration.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="configuration">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="client">
          <xs:annotation>
            <xs:documentation>client configuration only supported type is flash/rtmp</xs:documentation>
          </xs:annotation>
          <xs:complexType>
            <xs:simpleContent>
              <xs:extension base="xs:string">
                <xs:attribute type="xs:string" name="type"/>
                <xs:attribute type="xs:string" name="producerserver"/>
              </xs:extension>
            </xs:simpleContent>
          </xs:complexType>
        </xs:element>
        <xs:element name="backends">
          <xs:annotation>
            <xs:documentation>backend configurations multiple</xs:documentation>
          </xs:annotation>
          <xs:complexType>
            <xs:sequence>
              <xs:element name="backend" maxOccurs="unbounded" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="server"/>
                    <xs:element type="xs:short" name="port"/>
                    <xs:element type="xs:short" name="httpport"/>
                    <xs:element type="xs:string" name="usernmame"/>
                    <xs:element type="xs:string" name="password"/>
                  </xs:sequence>
                  <xs:attribute type="xs:string" name="type" use="optional"/>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
